@import 'theme';

@font-face {
    font-family: 'Jost-M';
    src: url('fonts/Jost/Jost-Medium.ttf')  format('truetype')
}

@font-face {
    font-family: 'Jost-L';
    src: url('fonts/Jost/Jost-Light.ttf')  format('truetype')
}

@font-face {
    font-family: 'Jost-B';
    src: url('fonts/Jost/Jost-Bold.ttf')  format('truetype')
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost-M';
}

body{
    background-color: $win-theme-main-background;
}

/* цвет фона трека скроллбара */
// ::-webkit-scrollbar-track {
//     background: $win-theme-soft-blue; 
// }

::-webkit-scrollbar-thumb {
    background: $win-theme-dark-blue; /* цвет ползунка скроллбара */
    border-radius: 8px;
}

::-webkit-scrollbar {
    width: 10px; /* ширина скроллбара */
}
