$light-blue: #C4D9EA;
$middle-blue: #7AA6CB;
$main-color: #326087;
$dark-blue: #213D55;
$deep-dark-blue: #162938;

$win-theme-dark-blue: #171A47;
$win-theme-middle-blue: #0F429E;
$win-theme-soft-blue: #0E73D0;
$win-theme-main-background: #C4D9EA;
$win-theme-gray-background: #99afc2;


$nav-width: 280px;
