@import '../../theme';


.container{
    display: flex;
    height: 100vh;
    justify-content: flex-end;
}

.workPlaceContainer{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 300px);
}

.leftNavBarContainer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: $nav-width;
    height: 100vh;
    // background-color: $win-theme-dark-blue;
    background: rgb(2,0,36);
    background: linear-gradient(85deg, rgba(2,0,36,1) 0%, rgba(22,28,80,1) 90%);
    border-radius: 0 20px 20px 0;
    border-right: 3px solid $win-theme-soft-blue;
}

.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px 0 0;
}

.headerPanel{
    background: rgb(2,0,36);
    background: linear-gradient(232deg, rgba(2,0,36,1) 0%, rgba(22,28,80,1) 60%);
    width: 500px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid $win-theme-soft-blue;
    margin-left: 20px;
}


.helloTitle{
    color: $win-theme-dark-blue;
    user-select: none;
}

.pageTitle{
    color: $win-theme-dark-blue;
    user-select: none;
    font-size: 22px;
}

.appTitle{
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 24px;
    user-select: none;
}

.exitBtn{
    color: white;
    opacity: 0.5;
    text-decoration: none;
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    left: 34px;
    user-select: none;
    cursor: pointer;
    &:hover{
        opacity: 1;
    }
}


.pageListContainer{
    width: $nav-width;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.navLinkToTags{
    width: 220px;
    height: 40px;
    border: 2px solid white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: #080932;
    opacity: 0.6;
    &:hover{
        opacity: 1;
    }
}

.navLinkToTech{
    width: 220px;
    height: 40px;
    border: 3px solid $win-theme-soft-blue;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: #080932;
    opacity: 1;
    &:hover{
        opacity: 1;
    }
}


// ==================================  стили таблицы
.tableContainer{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.table{
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid $win-theme-dark-blue;
	border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}

.thName, .thAdminPass, .thAccessType, .thCity{
    font-weight: bold;
	padding: 8px;
	background: #161C4F;
    color: white;
}

.thAccessType{
    width: 20%;
}

.tdName{
    font-weight: 600;
    width: 40%;
    &:hover{
        background: rgb(2,0,36);
        background: linear-gradient(292deg, rgba(2,0,36,1) 0%, rgba(22,28,80,1) 60%);
    }
    &:hover .tdNameNavLink{
        color: white;
    }
}

.tdNameNavLink{
    text-decoration: none;
    color: $win-theme-dark-blue;
}

.tdNameNavLinkDiv{
    padding: 8px 8px 8px 14px;
}

.tdCity, .tdAccessType{
    padding: 8px 8px 8px 14px;
}

.tdName, .tdAdminPass, .tdAccessType, .tdCity{
    // паддинг перенесен в компонент copied text
	// padding: 8px 8px 8px 14px;
    background-color: $win-theme-gray-background;
    color: $win-theme-dark-blue;
    border: 2px solid $win-theme-main-background;
}
