@import '../../theme';

.container{
    display: flex;
    height: 100vh;
    justify-content: flex-end;
}

.workPlaceContainer{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 300px);
}

.leftNavBarContainer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: $nav-width;
    height: 100vh;
    // background-color: $win-theme-dark-blue;
    background: rgb(2,0,36);
    background: linear-gradient(85deg, rgba(2,0,36,1) 0%, rgba(22,28,80,1) 90%);
    border-radius: 0 20px 20px 0;
    border-right: 3px solid $win-theme-soft-blue;
}

.pageTitle{
    color: $win-theme-dark-blue;
    user-select: none;
    font-size: 22px;
    // margin-top: 20px;
}

.appTitle{
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImg{
    width: 32px;
    margin-right: 10px;
}

.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px 0 0;
}

.headerPanel{
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(232deg, rgba(2,0,36,1) 0%, rgba(22,28,80,1) 60%);
    width: 510px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid $win-theme-soft-blue;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.deleteOrgBtn{
    width: 220px;
    height: 30px;
    margin-left: 20px;
    border-radius: 12px;
    border: 1px solid $win-theme-soft-blue;
    background: $win-theme-dark-blue;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    &:hover{
        background: rgb(117,0,0);
        background: linear-gradient(160deg, rgba(117,0,0,1) 0%, rgba(200,51,122,1) 80%);
        color: #fff;
        opacity: 1;
        border: none;
    }
}

.editOrgBtn{
    width: 220px;
    height: 30px;
    margin-left: 20px;
    border-radius: 12px;
    border: 1px solid $win-theme-soft-blue;
    background: $win-theme-dark-blue;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    &:hover{
        background: rgb(9,13,78);
        background: linear-gradient(160deg, rgba(9,13,78,1) 0%, rgba(14,109,201,1) 80%);
        color: #fff;
        opacity: 1;
        border: none;
    }
}

.backBtn{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    // opacity: 0.25;
    cursor: pointer;
    
    & img{
        margin-right: 28px;
        width: 50px;
        opacity: 0.4;
        margin-left: 10px;
    }

    &:hover img{
        opacity: 1;
    }
}

.OrgCardContainer{
    margin-top: 20px;
    width: 60vw;
    // height: 90%;
    background-color: $win-theme-gray-background;
    align-self: center;
    border-radius: 12px;
}

.orgTitle{
    background-color: $win-theme-dark-blue;
    border-radius: 12px 12px 0 0;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orgInfoContainer{
    color: $win-theme-dark-blue;
    padding: 20px 20px 20px 20px;
    font-size: 18px;
}

// .orgInfoCity{
//     margin-bottom: 10px;
// }

.orgInfoComment{
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}

.infoTitle{
    font-weight: bold;
    margin-top: 14px;
}

.infoTitleSimedPass{
    font-weight: bold;
}

.noCommentText{
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: column;
}

.addInfoBtn{
    width: 350px;
    align-self: center;
}

.copiedSimedPasstextBox{
    width: 200px;
}
.copiedSimedPasstextContainer{
    display: flex;
    align-items: center;
    margin-top: 10px;
}